.container
{
    background-color: white;
    overflow-x: hidden;
    position: relative;
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}
.shape {
    z-index: 0;
    background-color:#262626;
    width:110vw;
    height: 20vw;
    transform: rotateZ(-7deg) translateX(-2%) translateY(-50%);
  }